body{
    background-color:#37B888;
}

h1{
   font-family: monospace;
   color:#003824;
   text-align: center;
}

h2{
    font-weight: 10;
    font-family: monospace;
    color:#003824;
    text-align: center;
}
strong{
    font-style: oblique;
}

p{
    font-family: 'Courier New';
    color: #003824;
    text-align: justify;
}


li{
    font-family: 'Courier New';
    color: #003824;
}

a{
    font-family: 'Courier New';
    text-align: center;
}

.block{
    max-width: 75%;
    display: inline-block;
    padding-left: 700px;
    padding-top: 100px;
    border: 10px solid #003824;
    padding-right: 100px;
    padding-bottom: 100px;
}

img{
    position: absolute;
    left: 200px;
    top: 70px;
    padding: 10px;
    background-color: #6228b9; 

}

.adicionais{
    padding-top: 100px;
}

.elemento1{
    font-size: 45px;
    background-color: #003824;
    color: #37B888;
}
.elemento2{
    font-size: 25px;
}
.elemento3{
    font-size: 35px;
    background-color: #003824;
    color: #37B888;
}
.elemento4{
    font-size: 50px;
}